/* start variables */
:root{
    --main-color: #19c8fa;
    --trasperint-color:rgb(15 116 143 / 70%);
    --section-padding: 100px;
}
/* End variables */
/* Start component */
.main-heading{
    text-align: center;
}

.main-heading h2{
    font-size: 40px;
    font-weight: normal;
    position: relative;
    margin-bottom: 70px;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.main-heading h2::before{
    content: "";
    position: absolute;
    bottom: -30px;
    height: 2px;
    width: 120px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
}

.main-heading h2::after{
    content: "";
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    border: 2px solid black;
    bottom: -38px;
    left: 50%;
    transform: translateX(-50%);
}
.main-heading p{
    width: 550px;
    margin: 0 auto 100px;
    line-height: 1.6;
    max-width: 100%;
    color: #777;

}
/* End component */
/* start glopal rules */
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing:border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Open Sans", sans-serif;
}

ul{
    list-style: none;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:768px){
    .container{
        width:750px;
    }
}

@media (min-width:992px){
    .container{
        width: 970px;
    }
}

@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* End glopal rules */
/* Start Header */
 header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
 }

 header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
 }

 header .container img{
    height: 40px;
 }

 header .container::after{
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    bottom: 0px;
    background-color: #a2a2a2;
 }

 header .container nav{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
 }
  header nav .toggle-menu{
    color:white;
    font-size: 22px;
 }

 @media (min-width: 768px){
    header nav .toggle-menu{
        display: none;
    }
 }

 header nav ul{
    display: flex;
 }
 @media (max-width: 767px) {
    header nav ul{
        display: none;
    }
    header nav .toggle-menu:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 50%);
    }
    header nav ul li a{
        padding: 15px !important;
    }
}

header nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 40px 10px;
    transition: 0.3s;
}

header  nav ul li a.active,
header  nav ul li a:hover
{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    position: relative;
    z-index: 3;
}

header .container .form{
    margin-left: 30px;
    width: 40px;
    height: 30px;
    position: relative;
    border-left: 1px solid white;
}

header .container .form i{
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 20px;
}
/* End Header */

.landing{
    height: 100vh;
    background-color: #1f2021;
    background-image: url("../images/landing.jpg");
    background-size: cover;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /40%);
}

.landing .text{
    background-color: var(--trasperint-color);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50%;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 50px;
}


.landing .content{
    width: 500px;
}
@media (max-width: 767px){
    .landing .text{
        width: 100%;
    }
    .landing .text .content{
        max-width: 100%;
    }
    .landing .change-color{
        display: none;
    }
}
.landing .content h2{
    font-weight: normal;
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing .content p{
    font-size: 14px;
    line-height: 2;
}

.landing .change-color{
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    color: #ddd;
}

.landing i:last-of-type{
    right: 30px;
}

.landing i:first-of-type{
    left: 30px;
}

.landing .bullets{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.landing .bullets li{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    margin-right:10px ;
    border-radius: 50%;
}

.landing .bullets .active{
    background-color: var(--main-color);
}
/* start services */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

@media (min-width: 768px){
    .services .services-content{
        display: grid;
        grid-template-columns: repeat(auto-fill ,minmax(450px ,1fr));
        grid-column-gap: 40px;
        row-gap: 60px;
    }
}

.services-content .srv-box{
    display: flex;
}

.services-content .srv-box i{
    margin-right: 50px;
}

.services-content .srv-box h3{
    color: var(--main-color);
    margin-bottom: 30px;
}

.services .srv-box p{
    color: #777;
    line-height: 2;
}

@media (max-width:767px){
    .services-content .srv-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
    .services-content .srv-box i{
        margin:0 0 30px;
        margin-left: auto;
        margin-right: auto;
    }
}
/* End services */
/* Start Design */
.design{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    display: flex;
    background-image: url(../images/Space-Background-Images.jpg);
    background-size: cover;
    align-items: center;
    height: 600px;
    position: relative;
    overflow: hidden;
}

@media (max-width: 767px){
    .design .image{
        display: none;
    }
}

.design::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /40%);
}

.design .image,
.design .text{
    position: relative;
    z-index: 3;
    flex: 1;
}

.design .image{
    text-align: center;
}

.design .image img{
    position: relative;
    bottom: -140px;
}

.design .text{
    color: wheat;
    padding: 50px;
    background-color: var(--trasperint-color);
}

.design .text h2{
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: normal;
}
.design .text ul li{
    padding: 10px;
}

.design .text ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\e163";
    font-weight: 900;
    margin-right: 20px;
}
/* End design */
/* start portfolio */
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .shuffle{
    display: flex;
    justify-content: center;
}

.portfolio .shuffle  li{
    padding: 10px;
}

.portfolio .shuffle li.active{
    color: white;
    background-color: var(--main-color);
}

.portfolio .images-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.portfolio .images-container .box{
    overflow: hidden;
    position: relative;
}

.portfolio .images-container .box .caption{
    bottom: 0;
}

@media (min-width: 768px){
    .portfolio .images-container .box {
        flex-basis: 50%;
    }
}

@media (min-width:1199px){
    .portfolio .images-container .box{
        flex-basis: 25%;
    }
}

.portfolio .images-container .box img{
    max-width: 100%;
    transition: 0.3s;
}

.portfolio .images-container .box .caption{
    position: absolute;
    left: 0;
    bottom: -100%;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
}

.portfolio .images-container .box:hover .caption{
    bottom: 0;
}

.portfolio .images-container .box:hover img{
    transform: rotate(3deg) scale(1.1);
}

.portfolio .images-container .caption h4{
    margin-bottom: 10px;
    font-weight: normal;
}

.portfolio .images-container .caption p{
    color: var(--main-color);
}

.more{
    padding: 15px 20px;
    background-color: var(--main-color);
    margin: 30px auto;
    display: block;
    max-width: fit-content;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
/* End portfolio */
/* Start Video */
.video{
    position: relative;
}

.video::before{
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}

.video video {
    width: 100%;
}

.video .text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--trasperint-color);
    width: 100%;
    padding: 50px;
    color: white;
    text-align: center;
}

.video .text h2{
    margin-bottom: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.video .text p{
    margin-bottom: 20px;
}

.video .text button{
    padding: 10px 20px;
    background-color: black;
    color: white;
}
/* End VIdeo */
/* Start About */
.about{
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}

.about img{
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    left: 45%;
    transform: translateX(-50%);
    max-width: 100%;
}

/* End About */

/* Start status */
.stats{
    position: relative;
    background-image: url("../images/status.jpg");
    background-size: cover;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.stats::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.stats .container{
    display: flex ;
    flex-wrap: wrap;
    position: relative;
}

.stats .container .box{
    color: white;
    padding: 50px;
    background-color: var(--trasperint-color);
}

@media (max-width:767px){
    .stats .container .box{
        flex-basis: 100%;
    }
}

@media (min-width: 768px){
    .stats .container .box{
        flex-basis: 50%;
    }
}

@media (min-width: 992px){
    .stats .container .box{
        flex-basis: 25%;
    }
}

.stats .container .box i{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    margin: 0 auto 30px;
}

.stats .box .number{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.stats .container .box p{
    font-size: 14px;
}
/* End status */
/* Start Skills */
.our-skills{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.our-skills .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 991px){
    .our-skills .container > div{
        flex-basis: 45%;
    }
}

.our-skills .container > div > h3{
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center
}

.our-skills .container > div > p{
    line-height: 2;
    margin-bottom: 60px;
    color: #777;
}

.our-skills .container .content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.our-skills .container .content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 50px;
}

.our-skills .container .content .text{
    line-height: 1.8;
    border-bottom: 1px solid
}

.our-skills .container .content .text p{
    text-align: right;
    color: #777;
    margin-bottom: 10px;
    font-size: 14px;
}

@media (max-width:767px){
    .our-skills .container .content {
        flex-direction: column;
        text-align: center;
    }

    .our-skills .container .content img{
        margin: 0 auto 30px;
    }
}

.prog-holder{
    margin-bottom: 40px;
}

.prog-holder h4{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.prog-holder .prog{
    background-color: #dedadc;
    height: 30px;
}

.prog-holder .prog span{
    background-color: var(--main-color);
    height: 100%;
    display: block;
    position: relative;
}

.prog-holder .prog span::before{
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    padding: 4px 0;
    top: -40px;
    right: -18px;
    border-radius: 4px;
    width: 40px;
    text-align: center;
}

.prog-holder .prog span::after{
    content: "";
    border-width: 8px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    position: absolute;
    right: -8px;
    top: -15px;
}

.bullets{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bullets li{
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 8px;
}

.bullets li.active{
    background-color: var(--main-color);
}
/* End skills */

/* Start qout */
.qout{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/qout-section.webp);
    background-size: cover;
    text-align: center;
    color: white;
    position: relative;
}

.qout q {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}

.qout::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.qout .container {
    position: relative;
}
/* End qout */
/* Start pricing */
.pricing{
    padding-top: var(--trasperint-color);
    padding-bottom: var(--section-padding);
}

.pricing .plans{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px,1fr));
    gap: 30px;
}

.pricing .plan{
    background-color: #fcfcfc;
    text-align: center;
}

.pricing .plan .head{
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.pricing .plan .head h3{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.pricing .plan .head span {
    font-size: 50px;
    font-weight: 600;
}

.pricing .plan .head span::before{
    content: '$';
    position: relative;
    top: -40px;
    margin-right: 15px;
    font-size: 25px;
    font-weight: normal;
}

.pricing .plan .head span::after{
    content: '/Mo';
    position: relative;
    margin-left: 15px;
    font-size: 20px;
}
.pricing .plan ul{
    border-bottom: 1px solid var(--main-color);
}
.pricing .plan ul li{
    padding:20px;
    position: relative;
}

.pricing .plan ul li:not(:last-child):after{
    content: '';
    width: 140px;
    height: 1px;
    position: absolute;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.pricing .plan .foot a{
    padding: 20px 20px;
    text-decoration: none;
    display: block;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;
    color: #444;
}
.pricing .plan .foot a:hover{
    background-color: var(--main-color);
    color:white;
}
.contact-us{
    text-align: center;
    margin: 50px auto 20px;
    font-size: 18px;
}

.contact-link{
    display: block;
    text-decoration: none;
    padding: 15px 30px;
    background-color: var(--main-color);
    color: white;
    width: fit-content;
    margin: 20px auto;
}

.contact-link:hover{
    background-color: #19c8fdc5;
}
/* End pricing */
/* Start Subscribe */
.subscribe{
    padding-top: var(--section-padding);
    padding-bottom:var(--section-padding);
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    position: relative;
    color: white;
}

.subscribe::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.subscribe .container{
    display: flex;
    position: relative;
    align-items: center;
}

.subscribe form{
    width: 500px;
    max-width: 100%;
    display: flex;
    position: relative;
}

@media (max-width:991px){
    .subscribe .container{
    flex-direction: column;
    }
}

.subscribe .container form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}

.subscribe form input[type="email"]{
    padding: 20px 20px 20px 60px;
    background: none;
    border: 1px solid white;
    caret-color: var(--main-color);
    border-right: none;
    width: calc(100% - 130px);
    color: white;
}

.subscribe form input[type="submit"]{
    background-color: var(--main-color);
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-left: none;
    width: 130px;
    text-transform: uppercase;
}

.subscribe p{
    line-height: 2;
    margin-left: 50px;
}
@media (max-width:991px){
    .subscribe p{
        margin-top: 50px;
    }
}

.subscribe form input[type="email"]::placeholder{
    color: white;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus{
    outline: none;
}

.subscribe form input[type="submit"]:hover{
    background-color: #19c8fdc5;
}
/* End Subscribe */
/* Start Contact */
.contact{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.contact .content{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px){
    .contact .content{
        flex-direction: column;
    }
    .contact .content .info{
        order:-1;
        text-align: center;
    }
}

.contact .content form{
    flex-basis: 75%;
}

.contact .content .main-input{
    padding: 20px;
    display: block;
    margin-bottom: 30px;
    width: 100%;
    border: 1px solid #CCC;
    caret-color: var(--main-color);
}
.contact .content form .main-input:focus {
  outline: none;
}
.contact .content textarea{
    height: 200px;
}
.contact .content input[type='submit']{
    padding: 20px;
    background-color: var(--main-color);
    color: white;
    border: 1px solid white;
    margin-left: auto;
    display: flex;
    text-transform: uppercase;
    cursor: pointer;
}
.contact .content .info{
    flex-basis: 20%;
}

.contact .content .info h4{
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 18px;
    text-transform: uppercase;
}
.contact .content .info .phone{
    color: #777;
    display: block;
    margin-bottom: 10px;
}

.contact .content .info h4:last-of-type{
    margin-top: 90px;
}

.contact .content .info address{
    line-height: 2;
    color: #777;
}

@media (max-width: 767px){

}
/* End Contact */
/* Start footer */
.footer{
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    position: relative;
}

.footer::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.footer .container{
    position: relative;
    z-index: 1;
}

.footer img{
    margin: 20px;
}

.footer p:not(.copyright){
    font-size: 22px;
    border-bottom: 1px solid white;
    width: fit-content;
    margin: 20px auto;
    padding: 20px;
    text-transform: uppercase;
}

.footer .media-icon i {
    padding: 10px 15px;
}

.footer .copyright{
    margin-top: 60px;
}
.footer .copyright span{
    font-weight: bold;
    color:var(--main-color)
}
/* End footer */
